streamlit
langchain
openai
faiss-cpu
pdf2image
pillow
tiktoken
numpy
unstructured
python-docx
langchain-community
PyPDF2
pdfplumber
nltk
scikit-learn
spacy
opencv-python-headless
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
